---
---
@import '../_sass/bootstrap';
@import '../_sass/syntax-highlighting';


$primary: #11e7bb;
$secondary: #3bebff;

%spcmono { font-family: 'Space Mono', sans-serif; }
%roboto { font-family: 'Roboto', sans-serif; }


body {
    @extend %roboto;
    font-size: 16px;
    padding-top: 7em;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    @media only screen and (min-width : 480px) {
        padding-top: 51px;
    }
}

section, header, footer, main, article, nav, aside { position: relative; }
a {
    outline: none !important;
    text-decoration: none !important;
    transition: all 225ms ease;
    color: $secondary;

    &:hover { color: #6165FF; }
}
small {
    @extend %spcmono;
}
.btn {
    @extend %spcmono;
}
.btn-default {
    background-color: $primary;
    border: 0 none;
    &:hover {
        background-color: $secondary;
    }
}
h1, h2, h3, h4, h5, h6 { @extend %roboto; }
::selection {
    background: #086AFF;
    color: #fff;
}
.inline-block {
    display: inline-block;
}
.inline, .visible-xs.inline {
    display: inline!important;
}

main {
    background-color: #041b2f;
}
nav.navbar {
    margin: 0;
    background-color: #0c304f;
    border-bottom: 1px solid #335d6f;

    .navbar-brand {
        text-transform: uppercase;
        font-size: 1.9em;
        height: 66px;
        @media only screen and (min-width: 768px) {
            margin-left: 2em;
        }

        img {
            display: inline-block;
            width: 40px;
            margin-right: 10px;
        }
        &:hover {
            color: $primary;
            transform: scale(1.15);
            img {
                transform: scale(1.15);
            }
        }

    }
    .navbar-nav {
        & > li {
            & > small {
                width: 100%;
                display: block;
                padding: 0 5px;
                text-align: center;
            }
            & > a {
                &.btn {
                    @media only screen and (min-width: 480px) {
                        margin: {
                            top: 8px;
                            right: 30px;
                        }
                    }
                    margin: 5px 29px;
                    &:hover {
                        background-color: $secondary;
                    }
                }
            }
        }
    }
}
.slick-slider {
    .slick-arrow:before {
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 40px;
    }
    .slick-prev {
        @media only screen and (max-width: 480px) {
            left:0;
        }
        &:before {
            content: '\f053';
        }
    }
    .slick-next {
        @media only screen and (max-width: 768px) {
            right:0;
        }
        &:before {
            content: '\f054';
        }
    }
}

.embed-container { 
    position: relative; padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
} 

.product-single {
    &__hero-container {
        padding-top: 2em;
        padding-bottom: 2em;

        &.main {
            background-color: #044d76;
        }
        &.site-footer {
            background-color: #041c30;
        }
        &.featured-cont {
            padding-top: 1em;
            .img-profile {
                margin-right: 1em;
                margin-bottom: 1em;
                max-width: 130px;
            }
            @media only screen and (min-width: 481px) {
                .img-profile {
                    margin-right: 2em;
                    margin-bottom: 2em;
                    max-width: 130px;
                }
            }
        }
        &.about-bio {
            @media only screen and (max-width: 481px) {
                text-align: center;
            }

            padding-bottom: 0;
            background-color: white;
            h4, p {
                color: gray;
            }
            @media only screen and (min-width: 482px) {
                .about-bio-content {
                    margin-top: 3em;
                }
            }
            .about-bio-image {
                img {
                    margin: 0 auto;
                }
            }
        }
        &.testimonials {
            background-color: #939ea0;
            padding-bottom: 0;
            padding-top: 0;

            .testimonials-container {

                .testimonial-image {
                    
                }

                .testimonial-contents {
                    
                    p {
                        font-weight: 700;
                    }
                    @media only screen and (min-width: 769px) {
                        margin-top: 4em;
                    }
                    @media only screen and (min-width : 480px) and (max-width: 768px) {
                        padding-top: 12%;
                        padding-left: 10%;
                    }
                    @media only screen and (max-width : 480px) {
                        padding: 2em;

                        blockquote {
                            border-left: 0 none;
                            margin-bottom: 0;
                            font-size: 17.5px;
                        }
                        .testimonial-author {
                            margin: 10px 35px;
                        }
                    }


                    .testimonial-author {
                        font-size: 18px;
                        background-color: #0d314f;
                    }


                }
            }
        }
        .section-title {
            margin-bottom: 1em;
        }
    }
    &__price {
        padding-top: 1.5em;
        s, span {
            @extend %spcmono;
        }
    }
    &__form-add {
        padding-top: 1em;
    }

    &__testimonial-contents {
        .testimonial-block {
            margin-top: 5em;
        }
    }

}

.product-price {
    &__sale-label {
        color: #f5b540;
    }
    &__sale {
        color: #f5b540;
    }
}

aside {
    font-size: 17px;
    color: #525252;
    margin: 16px 0;
    @extend %spcmono;

    span {
        text-transform: uppercase;
        margin: 0 5px;
    }
}

.pagination-wrap {
    text-align: center;
}

pre {
    margin: 75px -100px;
}
