<div class="container hero__container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-sm-6 col-md-8">
				<h4 class="h3">About Paul Tripp</h4>
				<p class="lead">Dr. Paul David Tripp is a pastor and an award-winning and best-selling author. With more than 30 books and video series on Christian living, Paul’s driving passion is to connect the transforming power of Jesus Christ to everyday life. Paul and his wife Luella live in Philadelphia; they have four grown children.</p>
			</div>
			<div class="col-sm-6 col-md-4">
				<img class="img-responsive" src="{{ site.url }}/assets/meetpaultripp.jpg">
			</div>
		</div>
	</div>
</div>

