<div class="product-single__hero-container main">
	<div class="container" itemscope itemtype="http://schema.org/Product">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-8 text-left">
					<h1 itemprop="name"><strong>Faith: What Are You Looking For?</strong></h1>
				</div>
				<div class="col-md-4 product-single__price product-single__price-product-template text-right">
		            <s id="ComparePrice-product-template" class="h3">$79.99</s>
		            <span class="product-price__price product-price__price-product-template product-price__sale product-price__sale--single h3">
						<span id="ProductPrice-product-template">$59.99</span>
						<span class="product-price__sale-label product-price__sale-label-product-template">Sale</span>
		            </span>
				</div>
			</div>
		    <div class="col-md-5 product-single__hero-container featured-img">
		        <img itemprop="image" alt="Faith: What Are You Looking For?" class="img-responsive" src="{{ site.url }}/assets/faith.png">
		    </div>
		    <div class="col-md-7 product-single__hero-container featured-cont">
		    	<div class="col-md-12 hero-profile">
					<img class="img-profile hidden-xs" src="{{ site.url }}/assets/paul-tripp-head.png" align="left">
					<p class="lead"><strong>What is faith?</strong></p>
					<p class="lead" temprop="description">We all know that the Bible defines faith as "the assurance of things hoped for and the conviction of things not seen" - but do we know how to live by faith in the street-level situations and relationships of our daily Christianity?</p>
					<p>Join pastor and best-selling author Paul David Tripp on a powerful 9 session journey through Hebrews 11 to discover how to live a hope-filled life of faith in Jesus Christ.</p>
					<p>This video series also includes a study guide, filled with helpful application questions, to assist you, your small group, or your church bring faith to life.</p>
					<p>Using Hebrews 11 as a guide, Paul Tripp will contend that there are no heroes of faith in the Bible. Noah, Abraham, Moses and the others enshrined were weak and messy Christians just like us, who often felt that the call of God was too big for them.</p>
					<p>You will also discover:</p>
					<ul>
						<li>How God accomplishes big things through little people who have faith</li>
						<li>How a lifestyle of faith will radically change your life</li>
						<li>How to live by faith when life is hard and doesn't make sense</li>
						<li>How personal weakness and inability is a cornerstone to a lifestyle of faith</li>
					</ul>
					<p>And other important lessons! Don’t miss out on the opportunity to deepen your faith with renowned Bible teacher Paul Tripp.</p>
				</div>
				<div class="col-md-6 product-single__price product-single__price-product-template" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
		            <s id="ComparePrice-product-template" class="h3">$79.99</s>
		            <span class="product-price__price product-price__price-product-template product-price__sale product-price__sale--single h3">
		            	<meta itemprop="priceCurrency" content="USD" />
						<span id="ProductPrice-product-template">$<span itemprop="price">59.99</span></span>
						<span class="product-price__sale-label product-price__sale-label-product-template">Sale</span>
		            </span>
				</div>
				<div class="col-md-6 product-single__form-add">
					<form action="https://paul-tripp.myshopify.com/cart/add" method="post">
						<input type="hidden" name="id" value="39815533129" />
						<input type="hidden" name="price" value="59.99" />
						<input type="hidden" name="info" value="Bird fabric with black wood" />
						<input type="hidden" name="image" value="imageOfProduct.png" />
						<input type="hidden" name="return_to" value="back" />
						<input type="submit" class="btn btn-default btn-lg pull-right" value="Buy Now" />
					</form>
				</div>
		    </div>
		</div>
	</div>
</div>